*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;  
}

h1{
    color:#E53170 ;
    text-align: center;
    font-size: 50px;
    margin:30px auto auto auto;
    
}

header,div{
    text-align: center;
    margin:50px 100px auto 100px;
    font-size: 15px;
}

.c1{
    background-color:#0F0E17;
    
    width: 350px;
    height: 100px;    
}
.foto{
    float: left;
    width: 100px;
    height: 100px;
    
   
      
}

b,span{
    text-align: right;
    display: inline;
    background-color:#0F0E17;
    color:white;
    
      
    
}

b{
    font-size: 18px;
}